/** mono = (0.2125 * r) + (0.7154 * g) + (0.0721 * b); */

body {
}

table {
  border-spacing: 3px;
}

td {
  vertical-align: bottom;
}

td, th {
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 4px 6px;
}

.browser {
  width: 50px;
  height: 50px;
  color: #f0f0f0;
  text-align: center;
  border-radius: 30px;
  opacity: 0.7;
}


.browser.chrome {
  border-top: 15px solid rgb(117, 117, 117); /** red */
  border-left: 10px solid rgb(148, 148, 148); /** green */
  border-right: 10px solid rgb(207, 207, 207); /** yellow */
  background-color: rgb(144, 144, 144); /** light blue */
  vertical-align: top;
}

.browser.firefox {
  border-left: 10px solid rgb(115, 115, 115); /** red */
  border-bottom: 15px solid rgb(155, 155, 155); /** orange */
  border-right: 10px solid rgb(196, 196, 196); /** yellow */
  background-color: rgb(101, 101, 101); /** blue */
  vertical-align: bottom;
}

.browser.chrome.selected {
  border-top: 15px solid rgba(255, 80, 84, 1); /** red */
  border-left: 10px solid rgba(0, 197, 93, 1); /** green */
  border-right: 10px solid rgba(255, 210, 33, 1); /** yellow */
  background-color: rgba(65, 162, 211, 1); /** light blue */
  box-shadow: 2px 2px 0px rgba(223, 229, 232, 1), -2px 2px 0px rgba(223, 229, 232, 1), -2px -2px 0px rgba(223, 229, 232, 1), 2px -2px 0px rgba(223, 229, 232, 1);
  vertical-align: top;
}

.browser.firefox.selected {
  border-left: 10px solid rgba(222, 91, 38, 1); /** red */
  border-bottom: 15px solid rgba(255, 136, 44, 1); /** orange */
  border-right: 10px solid rgba(245, 200, 18, 1); /** yellow */
  background-color: rgba(29, 114, 180, 1); /** blue */
  box-shadow: 2px 2px 0px rgba(223, 229, 232, 1), -2px 2px 0px rgba(223, 229, 232, 1), -2px -2px 0px rgba(223, 229, 232, 1), 2px -2px 0px rgba(223, 229, 232, 1);
  vertical-align: bottom;
}

/** TODO: fix all the opacity changes to be actual color changes. */
.result {
  opacity: 0.5;
}

.result.empty {
  background-color: rgba(223, 229, 232, 1); /** light light blue */
}

.result.red {
  background-color: #ff0015;
}

.result.green {
  background-color: #91ff00;
}

.result.selected {
  opacity: 1;
}

.browser.selected {
  opacity: 1;
}
