html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,li,ol,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style-type:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

/** mono = (0.2125 * r) + (0.7154 * g) + (0.0721 * b); */

body {
  font-family: 'Helvetica';
  color: #454545;
  background-color: rgb(245,245,245);
  height: 100%;
  min-height: 100%;
}

a {
  color: rgba(65, 162, 211, 1);
}
a:hover {
  color: #454545;
}

h1 {
  text-align: left;
  margin: 0px 0px 16px 0px;
  padding: 0px;
}


h1 em {
  font-family: 'Megrim';
  font-size: 26px;
}

h3 {
  margin: 20px 0 0 0;
  padding: 0px;
}

.footer {
  margin: 5px 10px 0 5px;
  font-size: 12px;
}

.footer strong {
}

.version {
  float: right;
}

.github {
  float: left;
}

.details {
  position: absolute;
  right: 0px;
  top: -35px;
  left: 460px;
  min-width: 210px;
  padding-right: 20px;
  overflow: hidden;
}

.details .logs {
  margin: 10px 0;
  /** TODO: make max height 300 when we add the hisotry display. */
  max-height: 300px;
  overflow: scroll;
  opacity: 0.8;
}


.log.client, .summary .client .label {
  color: rgb(234, 64, 68);
}

.log.host, .summary .host .label {
  color: rgb(29, 114, 180);
}

.log {
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  font-size: 12px;
  padding: 5px 0;
  border-bottom: 1px solid #fff;
}

.log .timestamp {
  font-family: 'Abel', 'Helvetica';
  background-color: #fff;
  color: #000;
  margin-left: 5px;
  font-size: 10px;
  float: right;
}

.summary {
  font-family: 'Abel', Arial;
  background-color: rgb(223, 223, 223);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0,0,0,0.5);
}

.summary .client, .summary .status, .summary .host {
  display: inline-block;
  font-weight: 600;
  /*padding: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.2);*/
}

.summary .label {
  font-size: 10px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 2px 3px;
  border-radius: 3px;
  font-family: 'Abel', Arial;
}

.summary.unavailable, .result.red {
  background-color: rgb(222, 91, 38);
  color: rgba(255,255,255,0.7);
}

.summary.available, .result.green {
  background-color: rgb(142, 197, 0);
}

h1 .green {
  color: rgb(142, 197, 0);
}

.summary .unavailable {
  border-color: rgb(222, 91, 38);
}

.summary .available {
  border-color: rgb(142, 197, 0);
}




/** Test chart and details wrapper */
.tests {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  height: 80px;
  background-color: #fff;
  width: 100%;
}

.chart {
  width: 470px;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;

}

table {
  border-collapse: none;
  border-spacing: 3px;
}

td {
  vertical-align: bottom;
}

td, th {
  width: 50px;
  height: 50px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 4px 6px;
}

.browser {
  color: #f0f0f0;
  text-align: center;
  border-radius: 50px;
  opacity: 0.7;
  font-size: 11px;
  font-family: 'Vibur';
}


.browser.chrome {
  border-top: 10px solid rgb(117, 117, 117); /** red */
  border-left: 8px solid rgb(148, 148, 148); /** green */
  border-right: 8px solid rgb(207, 207, 207); /** yellow */
  background-color: rgb(144, 144, 144); /** light blue */
  vertical-align: top;
}

.browser.firefox {
  border-left: 8px solid rgb(115, 115, 115); /** red */
  border-bottom: 10px solid rgb(155, 155, 155); /** orange */
  border-right: 8px solid rgb(196, 196, 196); /** yellow */
  background-color: rgb(101, 101, 101); /** blue */
  vertical-align: bottom;
}

.browser.opera {
  border-color: rgb(155, 155, 155); /** red */
  border-width: 2px 8px 2px 8px;
  border-style: solid;
  background-color: #fff; /** white */
  vertical-align: middle;
  color: rgb(194, 206, 212);
  text-shadow: none;
}

.browser.opera.selected {
  border-color: rgb(234, 64, 68); /** red */
  border-width: 2px 8px 2px 8px;
  border-style: solid;
  background-color: #fff; /** white */
  vertical-align: middle;
  color: rgb(194, 206, 212);
  text-shadow: none;
}

.browser.chrome.selected {
  border-top: 10px solid rgba(255, 80, 84, 1); /** red */
  border-left: 8px solid rgba(0, 197, 93, 1); /** green */
  border-right: 8px solid rgba(255, 210, 33, 1); /** yellow */
  background-color: rgba(65, 162, 211, 1); /** light blue */
  box-shadow: 2px 2px 0px rgba(223, 229, 232, 1), -2px 2px 0px rgba(223, 229, 232, 1), -2px -2px 0px rgba(223, 229, 232, 1), 2px -2px 0px rgba(223, 229, 232, 1);
  vertical-align: top;
}

.browser.firefox.selected {
  border-left: 8px solid rgba(222, 91, 38, 1); /** red */
  border-bottom: 10px solid rgba(255, 136, 44, 1); /** orange */
  border-right: 8px solid rgba(245, 200, 18, 1); /** yellow */
  background-color: rgba(29, 114, 180, 1); /** blue */
  box-shadow: 2px 2px 0px rgba(223, 229, 232, 1), -2px 2px 0px rgba(223, 229, 232, 1), -2px -2px 0px rgba(223, 229, 232, 1), 2px -2px 0px rgba(223, 229, 232, 1);
  vertical-align: bottom;
}

/** TODO: fix all the opacity changes to be actual color changes. */
.result {
  opacity: 0.6;
}

.result.empty {
  background-color: rgba(223, 229, 232, 1); /** light light blue */
}

.has.result {
  cursor: pointer;
}

.result.selected {
  opacity: 1;
}

.result.green.clicked {
  background-color: rgb(27, 89, 23)
}

.result.red.clicked {
  background-color: rgb(125, 52, 23)
}

.result.clicked {
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.browser.selected {
  opacity: 1;
}
